@tailwind base;
@tailwind components;
@tailwind utilities;

.item-shadow {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.navOpen {
  transform: translateX(310px);
  transition: 0.3s ease-in-out;
}

.navClosed {
  transform: translateX(0rem);
  transition: 0.3s ease-in-out;
}

.sidebar {
  width: 310px;
  background-color: gray;
  left: -10px;
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.3s ease-in-out;
}
